html {
    font-family: monospace;
    font-size: 1.2rem;
}

img {
    border: 8px solid black;
    width: 96%;
    max-width: 680px;
}

.hidden {
    display: none;
}

label {
    display: inline-grid;
    padding: .5rem 0;
}

input[type="text"] {
    font-size: 1rem;
}
